<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "allSuites">
<suite-files>
 <!-- <suite-file path="ChromeSuite.xml"/> -->
  <suite-file path="FirefoxSuite.xml"/>
 <!-- <suite-file path="EdgeSuite.xml"/>
  <suite-file path="IESuite.xml"/> -->
  </suite-files>
</suite>


